<nav >
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Meetings App</span>
            <span class="space_tittle_btn"></span>
            <button mat-button routerLink="/" class="mat-button" routerLinkActive="active">
                Meetings
            </button>
            <button mat-button routerLink="create" routerLinkActive="active">
                Create Meeting
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>


